{% extends 'base.html' %}

{% block title%}
    Admin Login    
{% endblock %}

{% block body %}
<div class="container w-50 my-4">
    <form action="{% url 'admin-panel' %}" method="post">
        {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label"><b>Username</b></label>
        <input type="text" class="form-control" id="username" name="uname">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label"><b>Password</b></label>
        <input type="password" class="form-control" id="password" name="pwd">
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="Login">
    </div>
    </form>
</div>
{% endblock %}