{% extends 'base.html' %}

{% block title%}
    لوحة التحكم للمشرف    
{% endblock %}

{% block body %}
<div class="container-fluid my-3">
    <a href="{% url 'add_student' %}" class="btn btn-warning">إضافة طالب</a>
</div>
<table class="table table-primary my-4 table-hover">
    <thead>
        <tr>
            <th scope="col">رقم اللفة</th>
            <th scope="col">الاسم</th>
            <th scope="col">محاسبه ادارية</th>
            <th scope="col">نظم دعم اتخاذ القرار</th>
            <th scope="col">شبكات وامن معلومات</th>
            <th scope="col">دراسات محاسبية باللغة الإنجليزية</th>
            <th scope="col">إدارة أفراد</th>
            <th scope="col">إجمالي الدرجات</th>
            <th scope="col">النسبة المئوية</th>
            <th scope="col">العمليات</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr>
            <th scope="row">{{ s.roll_no }}</th>
            <td>{{ s.name }}</td>
            <td>{{ s.accounting }}</td>
            <td>{{ s.decision_support }}</td>
            <td>{{ s.information_security }}</td>
            <td>{{ s.english_accounting }}</td>
            <td>{{ s.personnel_management }}</td>
            <td>{{ s.total }}</td>
            <td>{{ s.percent }}</td>
            <td>
                <a href="{% url 'edit_student' s.id %}" class="btn btn-small btn-primary" id='{s.id}'>Edit</a>
                <a href="{% url 'delete_student' s.id %}" class="btn btn-small btn-danger" id='{s.id}'>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}